/* Zmienne */
:root {
    --navbar-bg: #dde8fa;
}

/* Kolor tła całej strony */
body{
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% wysokości okna przeglądarki */
    margin: 0;
}

/* Kolor tła navbar'a*/
.navbar-background{
    background-color: var(--navbar-bg);
}

/* Czcionka dla nagłówków */
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Logo */
.my-logo{
    height: 150px; 
    width: auto;
    display: block;
}

/* CSS dla menu */
.menu li a:hover{
    color:#54e0c4;
    font-weight:600;

}


main, .content-wrapper { 
    flex: 1; 
}