<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <h1>About us</h1>
    <p>The website aims to help users keep training logs and achieve their fitness goals.</p>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>
</body>
</html>

{% block footer%}
    {% include "training/partials/footer.html" %}
{% endblock footer%}    