<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>
<body>
    <h1>Contact us</h1>
    <p>You can contact us via email: contact@gymlogbook.pl</p>
     <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About us</a></li>
    </ul>
</body>
</html>

{% block footer%}
    {% include "training/partials/footer.html" %}
{% endblock footer%}