{% extends "training/partials/base.html" %}
{% block title %}Home{% endblock title %}

{% block content%}
    
    <p>
        Welcome to GymTracker, your ultimate fitness companion! Whether you're a seasoned athlete or just starting your fitness journey, GymTracker is here to help you track your workouts, monitor your progress, and achieve your fitness goals. With our user-friendly interface and powerful features, you can easily log your exercises, set goals, and stay motivated on your path to a healthier lifestyle. Start tracking your fitness journey with GymTracker today and take the first step towards a stronger, healthier you!
    </p>
      
    <ul>
            <li><a href = "{% url 'exercise_list' %}">GYMLOG</a></li>
    <ul>



{% endblock content%}
