{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} | GymTracker: Your Personal Fitness Log</title>
    <meta content = "GymTracker is your ultimate fitness companion, designed to help you track your workouts, monitor progress, and achieve your fitness goals. With a user-friendly interface and powerful features, GymTracker makes it easy to log exercises, set goals, and stay motivated on your fitness journey." name="description">
    <meta content="Sadz1k" name="author">

    {% block css %}
        {%include "training/partials/bootstrapcss.html"%}
    {% endblock css %}
</head>

<body>

    {% block header %}
        {% include "./top-bar.html" %}
    {% endblock header %}
    
    <div class=navbar-background>

    {%block navbar%}
        {% include "./navbar.html"%}
    {% endblock navbar%}

    </div>

    {% block content %}
    
    {% endblock content %}

    {% block footer %}
        {% include "./footer.html" %}
    {% endblock footer %}


    {% block js %}
        <!-- BOOTSTRAP JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    {% endblock js %}
</body>

</html> 